.showtestpage{
	display:flex;
	flex-direction:column;
}
.container{
	display:flex;
	flex-direction:column;
}
.insidecontainer1{
	display:flex;
	flex-direction:column;
}
.container1{
	display:flex;
	flex-direction:column;
}
.showcontest{
	display:flex;
	flex-direction:column;
}
