.back {
    padding-bottom: 30px;
}

.title1 {
    display: block;
    margin-top: 40px;
    text-align: center;
    color: BLue;
    font-size: 60pt;
    font-family: big john;
}

.title2 {
    display: block;
    text-align: center;
    color: blue;
    font-size: 14pt;
    font-family: serif;
}

.register {
    margin: 50px auto;
    display: block;
    width: 180px;
    height: 50px;
    border: 3px solid Blue;
    background-color: white;
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 1000ms, color 1000ms;
}

.background12 {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('con1.jpg');
    background-repeat: no-repeat;
}